body,h1,h2,h3,h4,h5,h6,p {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: rgb(12, 12, 12);
  line-height: 1.8;
  scroll-behavior: smooth;
  background-color:whitesmoke;
  /* background-image: linear-gradient(to right, rgb(131, 140, 160) , rgb(216, 217, 218)); */
}
p {
  font-size: 20px;
}

li {
  font-size: 18px;
  list-style-type: square;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Full height) */
.bgimg-1 {
  background-image: url("../images/CapitolInside.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .bgimg-2 {
  background-image: url("../images/white.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.card {
  margin-bottom: 25px;
  box-shadow: 2px 2px 2px 2px rgb(38, 43, 50);
  width: 200px;
  height: 100px;
}
.w3-card {
  box-shadow: 2px 2px 2px 2px rgb(38, 43, 50);
}
.w3-third {
  margin-bottom: 25px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.w3-bar-item {
  float: right;
}

h1,h3,h5 {
  font-weight: bolder;
}
/* .w3-panel {
  position: fixed;
  padding-top: 20px;
  padding: 5px;
  width:800px;
  top:50%;
  left: 50%;
  margin-left:-400px;
  background-color: rgb(148, 26, 30);
  color: whitesmoke;
  text-align: center;
  line-height: .75;
} */

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  padding-top: 20px;
  padding: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(148, 26, 30);
  color: whitesmoke;
  text-align: center;
  line-height: .75;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 800px) { /* this has to be the same width as the div */
  div {
      margin-left:0;
      left:0;
  }
}