/* ---------------------------
  Nav Bar and Logo on All Pages
  ---------------------------- */
.w3-top {
  background-color: whitesmoke;
  max-height: 100px;
}

.navbar-nav {
  margin-top: 20px;
  width: 30%;
  height: 15%;
  text-align: right;
}

.logo-image{
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width:250px;
  float: left;
  position: relative;
}

#navDemo {
  background-color: whitesmoke;
  width: 25%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* ---------------------
  All Pages
  --------------------- */
body,h1,h2,h3,h4,h5,h6,p, ul {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: rgb(12, 12, 12);
  line-height: 1.8;
  background-color:lightgray;
}

p {
  font-size: 20px;
}

.w3-padding-64 {
  padding-top: 100px!important;
  padding-bottom: 26px!important;
}

.w3-content {
  max-width:900px;
}

.w3-tag {
  letter-spacing: 3px; 
  font-variant: small-caps;
}
.w3-tag {
  background-color: rgb(148, 26, 30);
}

/* ----------------
   Home Page
   ---------------- */
/* Create a Parallax Effect */
/* First image (Full height) */
.bgimg-1 {
  background-image: url("../images/CapitolInside.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.w3-wide {
  letter-spacing: 10px;
}

.w3-animate-opacity {
  padding-top: 200px; 
  width: 100%; 
  text-align: center;
}

#advocacy {
  margin-top: 100px; 
  padding: 10px; 
  letter-spacing: 6px; 
  font-variant: small-caps;
  background-color: black;
  color: whitesmoke; 
  text-align: center;
  animation-duration: 4s;
}

#statement {
  text-align: center;
  padding-top: 20px; 
  padding-bottom: 20px; 
  margin: 55px 10%; 
  background-color: rgb(148, 26, 30); 
  color: whitesmoke; 
  text-align: center;
}

/* ------
   About
------ */

.box {
  /* box-sizing: border-box; */
  color: rgb(12, 12, 12);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  border: 3px solid;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#one {
  position: absolute;
  background: whitesmoke;
  margin-right: 20px;
}

.nasl {
  text-align: center;
}


/* --------------------------------------------------------
   Team, Stan Schlueter, Brad Schlueter, Cathy DeWitt pages
   -------------------------------------------------------- */
.w3-hover-opacity {
  cursor: pointer;
}

a:link {
  color:  rgb(148, 26, 30);
}

a:hover {
  color: black;
}

/* --------------------------------------------------------
  Stan Schlueter, Brad Schlueter, Cathy DeWitt pages
   -------------------------------------------------------- */
li {
  font-size: 18px;
  list-style-type: square;
}

/* ----------------------------
   Expertise page
   ---------------------------- */
.card {
  margin-bottom: 25px;
  box-shadow: 2px 2px 2px 2px rgb(148, 26, 30);
  width: 200px;
  height: 100px;
  opacity: 1.0;
}

.w3-card {
  box-shadow: 2px 2px 2px 2px rgb(148, 26, 30);
}

.w3-bar-item {
  float: right;
}

h1,h3,h5 {
  font-weight: bolder;
}

h5 {
  padding-left: 10px;
  padding-top: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50vh;
}
#content-wrap {
  padding-bottom: 2.5rem; 
}
    
/* ---------------------
   Expertise Page
  --------------------- */
 
.expertise-card {
 margin-bottom: 25px;
 box-shadow: 2px 2px 2px 2px rgb(148, 26, 30);
}
.expertise-card h5 {
 margin: 10px 0;
}

.expertise-card img {
width: 50px;
}


/* ---------------------
   Services Page
  --------------------- */
  .w3-ul {
    background:  rgb(148, 26, 30);
    padding: 3%;
  }

  .w3-padding-small {
    background: whitesmoke;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    list-style-type: none;
  }

/* ---------------------
  Footer - All Pages
  --------------------- */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(148, 26, 30);
  color: whitesmoke;
  text-align: center;
  padding-top: 2px; 
  padding-bottom: 2px;
}